dconf*
epiphany*
evolution*
go*
goa-1.0*
gtk-3.0*
htop*
ibus*
mimeapps.list*
nvim*
obsidian*
pavucontrol.ini*
pnpm*
pulse*
user-dirs.dirs*
user-dirs.locale*
.gsd-keyboard.settings-ported
xfce4/*
lazygit
Thunar
pacmixer
