* {
  /* General taskbar font, I like maple mono ^-^*/
  font-family: "SauceCodePro";
  border: none;
  font-size: 16px;
  padding: 0px;
  min-height: 10px;
  background: transparent;
}

#waybar {
  /* Linear gradients are used because it makes less harsh rounded border radius, gtk bug :p */
  background-image: linear-gradient(to bottom, #141216 100%);
  opacity: 0.8;
  border-radius: 10px;
  padding: 0px;
  border-style: none;
}

#battery,
#network,
#clock,
#custom-applauncher,
#tray,
#workspaces,
#pulseaudio {
  background-image: linear-gradient(to bottom, #27232b 100%);

  margin: 6px;
  margin-right: 0px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #d8cab8;
  transition-duration: 120ms;
}

#clock {
  margin-right: 6px;
}

#pulseaudio:hover {
  background-image: linear-gradient(to bottom, #58BC82 100%);
  color: #141216;
  transition-duration: 120ms;
}

#custom-applauncher {
  font-weight: bold;
  transition-duration: 120ms;
}
#custom-applauncher:hover {
  background-image: linear-gradient(to bottom, #58BC82 100%);
  color: #141216;
  transition-duration: 120ms;
}

#tray menu {
  background-color: #141216;
  color: #d8cab8;
  padding: 4px;
}
#tray menu menuitem {
  background-image: linear-gradient(to bottom, #27232b 100%);

  margin: 3px;
  color: #d8cab8;
  border-radius: 4px;
  border-style: solid;
  border-color: #27232b;
}
#tray menu menuitem:hover {
  background-image: linear-gradient(to bottom, #27232b 100%);
  color: #58BC82;
  font-weight: bold;
}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
  color: #d8cab8;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: #fcb167;
}
#workspaces button.focused {
  color: #58BC82;
  font-weight: bold;
}
#workspaces button.active {
  color: #58BC82;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #fcb167;
}
#cpu {
  color: #d8cab8;
  background-color: #222222;
  margin: 6px;
  padding: 4px 8px;
  color: #d8cab8;
}

#battery {
  background-color: #222222;
  color: #d8cab8;
  margin-right: 0.2cm;
}
#battery.warning,
#battery.critical,
#battery.urgent {
  color: #1d2021;
  background-color: #fc4649;
}
